__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/


venv/
.venv/
env/


.env


data/synthetic/images/
data/synthetic/lmdb/
data/synthetic/lmdb_val/
data/real/*
!data/real/.gitkeep


model/weights/*
!model/weights/.gitkeep

~/.EasyOCR/


output/*
!output/.gitkeep

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db


